
Client-Overtime/obj/Debug/net6.0/Client-Overtime.GeneratedMSBuildEditorConfig.editorconfig
.vs/API-Overtime/FileContentIndex/08f259c8-523f-4192-ae98-118d999916ae.vsidx
.vs/API-Overtime/FileContentIndex/1de3ba5d-aeb3-47cd-b9b6-4a565bd3b4d7.vsidx
.vs/API-Overtime/FileContentIndex/5e33541a-0cc7-4c89-9f52-9df9472898f6.vsidx
.vs/API-Overtime/FileContentIndex/875b5467-a002-416c-9923-24236edc7701.vsidx
.vs/API-Overtime/FileContentIndex/a716334f-1e88-4ccf-ae20-d2e699f309b0.vsidx
API-Overtime/obj/Debug/net6.0/API-Overtime.assets.cache
API-Overtime/obj/Debug/net6.0/API-Overtime.csproj.AssemblyReference.cache
.vs/API-Overtime/FileContentIndex/a480ad4a-c2fc-4931-90cb-5ef6e8ca1028.vsidx
API-Overtime/obj/Debug/net6.0/API-Overtime.csproj.AssemblyReference.cache
API-Overtime/obj/Debug/net6.0/API-Overtime.GeneratedMSBuildEditorConfig.editorconfig
Client-Overtime/obj/Debug/net6.0/Client-Overtime.assets.cache
Client-Overtime/obj/Debug/net6.0/Client-Overtime.csproj.AssemblyReference.cache
API-Overtime/obj/Debug/net6.0/API-Overtime.csproj.AssemblyReference.cache
Client-Overtime/obj/Debug/net6.0/Client-Overtime.GeneratedMSBuildEditorConfig.editorconfig
Client-Overtime/obj/Debug/net6.0/Client-Overtime.csproj.AssemblyReference.cache
