@{
    ViewData["Title"] = "403";
    Layout = "_ErrorLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>403 - Forbidden</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/style.css" />

</head>

<body>

    <div id="error">
        <div class="error-page container">
            <div class="col-md-8 col-12 offset-md-2">
                <div class="text-center">
                    <img class="img-error"
                         src="~/lib/assets/images/samples/error-403.svg"
                         alt="Not Found"
                         width="500px"
                         height="340px" />
                    <h1 class="error-title">Forbidden</h1>
                    <p class="fs-8 text-gray-600">
                        You are unauthorized to see this page.
                    </p>
                    <a href="/Home/Index" class="btn btn-md btn-outline-primary mt-3">Go Home</a>
                </div>
            </div>
        </div>
    </div>

</body>


</html>
